<form action="{{ path('admin_login_check') }}" method="post">
    <label for="username">Username</label>
    <input type="text" name="_username" id="username"><br>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password">
    <input type="submit" name="_submit" id="submit" value="se connecter">
</form>